@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.wrap-header{
	position: sticky;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 125px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3E2E2D;
}

.container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1200px;
}

.logo{
	display: flex;
	align-items: center;
	width: 153px;
}

.header-center{
	width: 580px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
}

.search {
	display: flex;
	margin: 0 auto 0 auto;
	align-items: center;
	justify-content: space-between;
	width: 526px;
	height: 40px;
	background: rgba(141, 91, 75, 0.7);
	border: 2px solid #8D5B4B;
	border-radius: 3px;
}

.input-img{
	display: flex;
	margin: 0 11px;
}

.search-input {
  	width: 90%;
  	border: none;
  	outline: none;
 	background: none; 
  	color: #FFFFFF;
  	font-size: 12px;
}

.search-input::placeholder {
  	color: #BB8F69;
  	opacity: 0.8;
}

.search-btn{
	display: flex;
	margin-left: 11px;
	margin-right: 5px;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 32px;
	border: none;
	border-radius: 3px;
	background-color: #8D5B4B;
	color: #FFFFFF;
	cursor: pointer;
}

nav ul{
	display: flex;
	width: 100%;
	justify-content: space-between;
	list-style-type: none;
}

nav ul li{
	position: relative;
	padding-left: 20px;
}

nav ul li::before{
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 13px;
	height: 13px;
	background-size: contain;
	background-repeat: no-repeat;
}

.main::before{
	background-image: url('Main_images/main.svg');
}

.about::before{
	background-image: url('Main_images/about.svg');
}

.delivery::before{
	background-image: url('Main_images/delivery.svg');
}

.comments::before{
	background-image: url('Main_images/comments.svg');
}

.contacts::before{
	background-image: url('Main_images/contacts.svg');
}

nav ul li a{
	color: #FFFFFF;
	font-size: 12px;
}

nav ul li a:hover{
	color: #BB8F69;
}

.button-group{
	width: 160px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.catalogue{
	width: 60px;
	height: 60px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	gap: 3px;
	align-items: center;
	justify-content: center;
}

.catalogue img{
	width: 32px;
	height: 32px;
}

.catalogue span{
	color: white;
	font-size: 12px;
}

.account{
	width: 60px;
	height: 60px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	gap: 3px;
	align-items: center;
	justify-content: center;
}

.account img{
	width: 32px;
	height: 32px;
}

.account span{
	color: white;
	font-size: 12px;
}

.cart{
	width: 60px;
	height: 60px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	gap: 3px;
	align-items: center;
	justify-content: center;
}

.cart img{
	width: 32px;
	height: 32px;
}

.cart span{
	color: white;
	font-size: 12px;
}

.catalogue:hover span,
.account:hover span,
.cart:hover span{
	color: #BB8F69;
}

#main, #about_us, #delivery, #reviews, #contacts{
	scroll-margin-top: 127px;
}

.white-container{
	width: 1200px;
	height: 810px;
	display: flex;
	margin: 0 auto 0 auto;
	align-items: center;
	justify-content: space-between;
	background-image: url('Main_images/background_beige.svg');
	background-size: 100%;
}

.hero-info{
	width: 600px;
	height: 643px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.hero-info h1{
	text-align: center;
	font-size: 48px;
	font-weight: 500;
}

.hero-info p{
	text-align: center;
	font-size: 28px;
}

.hero-info button{
	width: 521px;
	height: 80px;
	border: none;
	border-radius: 55px;
	background-color: #8D5B4B;
	color: white;
	font-size: 40px;
	margin: 0 auto 0 auto;
	cursor: pointer;
}

.hero-info button:hover{
	background-color: #3E2E2D;
}

.white-container img{
	width: 468px;
	height: 643px;
	border-radius: 3px;
	border: none;
}

.beige-container{
	width: 100%;
	height: 810px;
	background-color: #F9E8C6;
}

.about-us{
	display: flex;
	width: 1200px;
	height: 810px;
	background-image: url('Main_images/background_white.svg');
	background-size: 100%;
	margin: 0 auto 0 auto;
	align-items: center;
	justify-content: space-between;
}

.about-us-carousel{
	width: 432px;
	height: 643px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about-us-images{
	position: relative;
	width: 100%;
	height: 550px;
	overflow: hidden;
}

.about-us-images img{
	position: absolute;
	width: 100%;
	height: 550px;
	border-radius: 10px;
	opacity: 0;
	transform: translateX(50px);
	transition: opacity 0.4 ease, transform 0.4 ease;
}

.circle-container{
	display: flex;
	width: 52px;
	height: 10px;
	align-items: center;
	justify-content: space-between;
}

.circle{
	width: 10px;
	height: 10px;
	background-color: #D1BB90;
	border-radius: 50%;
}

.circle.active{
	background-color: #3E2E2D;
}

.about-us-images .active{
	opacity: 1;
	transform: translateX(0);
}

.controlers{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.about-us-carousel button{
	width: 70px;
	height: 70px;
	border: none;
	border-radius: 50%;
	background-color: #8D5B4B;
}

.about-us-carousel button:hover{
	background-color: #3E2E2D;
}

.first-about-btn{
	background-image: url('Main_images/arrow.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.second-about-btn{
	background-image: url('Main_images/arrow.svg');
	transform: rotate(180deg);
	background-repeat: no-repeat;
	background-position: center;
}

.about-us-carousel div{
	display: flex;
	justify-content: space-between;
}

.about-us-info{
	width: 600px;
	height: 568px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about-us-info h1{
	text-align: center;
	font-size: 48px;
	font-weight: 500;
}

.about-us-info p{
	text-align: center;
	font-size: 23px;
}

.delivery_payment{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 1200px;
	height: 700px;
}

.delivery-container{
	display: flex;
}

.delivery-info{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 948px;
}

.delivery-info h1{
	font-size: 48px;
	font-weight: 500;
}

.delivery-info p{
	font-size: 28px;`
}

.delivery-container img{
	width: 300px;
	height: 300px;
}

.payment-container{
	display: flex;
}

.payment-container img{
	width: 300px;
	height: 300px;
}

.payment-info{
	display: flex;
	flex-direction: column;
	width: 948px;
}

.payment-info h1{
	font-size: 48px;
	font-weight: 500;
	text-align: right;
}

.payment-info p{
	font-size: 28px;
	text-align: right;
}

.reviews-container{
	width: 1200px;
	height: 810px;
	margin: 0 auto 0 auto;
	background-image: url("Main_images/background_white.svg");
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.reviews-container h1{
	margin-top: 50px;
	font-size: 48px;
	font-weight: 500;
}

.review{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.review-ava{
	width: 115px;
	height: 115px;
	background-color: rgb(141, 91, 75, 0.5);
	background-image: url('Main_images/account.svg');
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: center;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.review-text-cont{
	display: flex;
	width: 1040px;
	flex-direction: column;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	justify-content: space-between;
	padding: 10px;
	background-color: rgb(141, 91, 75, 0.5);
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.review p{
	font-size: 18px;
}

.review-info{
	display: flex;
}

.review-info p{
	font-size: 16px;
	color: #8D5B4B;
}

.review-info button{
	background-color: transparent;
	border: none;
	color: #FFFFFF;
	font-size: 16px;
	cursor: pointer;
}

.review-info button:hover{
	color: #8D5B4B;
}

.review-beige{
	display: flex;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.review-beige .review-ava{
	background-color: rgb(209, 187, 144, 0.5);
}

.review-beige .review-text-cont{
	background-color: rgb(209, 187, 144, 0.5);
}

.show-review{
	width: 273px;
	height: 57px;
	margin: 0 auto 0 auto;
	border-radius: 50px;
	background-color: #8D5B4B;
	border: none;
	color: #FFFFFF;
	font-size: 24px;
	cursor: pointer;
}

.show-review:hover{
	background-color: #3E2E2D;
}

.user-review{
	display: flex;
	margin-bottom: 50px;
	justify-content: space-between;
}

.user-review .review-text-cont{
	background-color: #FFFFFF;
}

.review-input{
	background-color: transparent;
	border: none;
	font-size: 18px;
}

.user-review .review-text-cont button{
	background-color: #8D5B4B;
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: 0 0 0 auto;
	background-image: url('Main_images/arrow.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60% 60%;
	transform: scaleX(-1);
	cursor: pointer;
}

.user-review .review-text-cont button:hover{
	background-color: #3E2E2D;
}

.footer{
	background-color: #3E2E2D;
}

.contacts-container{
	width: 1000px;
	margin: 0 auto 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contacts-container h1{
	font-size: 38px;
	font-weight: 500;
	color: #FFFFFF;
}

.cont-wrap{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.left-side{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.contact-ico{
	width: 170px;
	display: flex;
	justify-content: space-between;
}

.right-side{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.right-side p{
	text-align: right;
	color: #FFFFFF;
	font-size: 18px;
}

.decoration{
	width: 100%;
	height: 1px;
	background-color: #FFFFFF;
	margin: 10px;
}

.fazza{
	color: #FFFFFF;
	margin-bottom: 10px;
}
